@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-color: 121212;
    color: white;
}

body pre {
    background-color: 121212;
    color: white;
}

body input {
    background-color: 121212;
    border: dotted;
    border-width: 1px;
}

li button {
    font-weight: bold;
    border: 0;
    color: red;
    padding: 0;
    float: right;
}
